h2 {
    color: gray;
    font-family: Gotu;
}

p {
    font-family: Gotu;
    text-align: justify;
}

#list-description {
    margin-left: 36px;
    margin-right: 36px;
    /* overflow:hidden;
    text-overflow: ellipsis;
    max-height:110px; */
}