.main-head {
    text-align: left;
    padding: 28px;
    margin: 0;
    background-color: crimson;
    font-family: Girassol;

}

.secondary-head {
    display: flex;
    left: 12px;
    background-color: gray;
    margin-bottom: 16px;
    font-size: small;
}

h1 {
    margin: 0;
    font-size: 300%;
    position: relative;
    top: 12px;
}

a {
    margin: 13px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

p {
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

#trending-title {
    color: gold;
    margin-top: 12px;
}

img {
    float: left;
    margin-right: 12px;
}

#search {
    position: relative;
    left: 77%;
    bottom: 36px;
}