.main-head {
text-align: left;
padding: 28px;
background-color: crimson;
font-family: Girassol;

}

.secondary-head {
    display: flex;
    left: 12px;
    background-color: gray;
    margin-bottom: 16px;
    font-size: small;
}

h1 {
    margin: 0;
}

a {
    margin: 13px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

p {
    margin-left: 12px;
}

#trending-title {
    color: gold;
}

img {
    float: left;
    margin-right: 12px;
}